<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SecuritySoap">
          <security mode="Transport" />
        </binding>
        <binding name="SecuritySoap1" />
        <binding name="task_apiSoap">
          <security mode="Transport" />
        </binding>
        <binding name="task_apiSoap1" />
        <binding name="b2b_apiSoap">
          <security mode="Transport" />
        </binding>
        <binding name="b2b_apiSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.mpoisk.ru/mts/ws/me_b2b_54/security.asmx"
                binding="basicHttpBinding" bindingConfiguration="SecuritySoap"
                contract="MTSLogin.SecuritySoap" name="SecuritySoap" />
      <endpoint address="https://api.mpoisk.ru/mts/ws/me_b2b_54/task_api.asmx"
                binding="basicHttpBinding" bindingConfiguration="task_apiSoap"
                contract="MTSTask.task_apiSoap" name="task_apiSoap" />
      <endpoint address="https://api.mpoisk.ru/mts/ws/me_b2b_54/b2b_api.asmx"
                binding="basicHttpBinding" bindingConfiguration="b2b_apiSoap"
                contract="MTSb2b.b2b_apiSoap" name="b2b_apiSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>